@import 'fonts';
@import 'colors';

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: $fontBody;
  font-weight: 400;
  color: $black;
}

.homepage-overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: $green;
  top: 0%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 300px;
  }

  p {
    color: $Dgreen;
    font-size: 60px;
    margin-top: 20px;
  }
}


// NAVIGATION
nav {
  .nav-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: $Dgreen;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
  }

  .overlay-socials {
    position: relative;
    top: 40%;
    text-align: center;
  }

  .nav-overlay a {
    text-decoration: none;
    color: white;
  }

  .overlay-content a {
    padding: 10px;
    font-size: 36px;
    display: block;
    transition: 0.3s;
  }

  .overlay-socials a {
    padding: 0 20px;
    font-size: 36px;
    transition: 0.3s;

    .fab {
      color: white;
    }
  }

  .nav-overlay a:hover,
  .nav-overlay a:focus {
    color: $green;

    .fab {
      color: $green;
    }
  }

  .nav-overlay .closebtn {
    position: absolute;
    top: 20px;
    left: 50px;
    font-size: 45px;
  }

  .navbar-toggle {
    position: absolute;
    top: 35px;
    left: 50px;
    cursor: pointer;
    font-size: 32px;

    .fa-bars {
      color: $green;
    }
  }
}

.container-home {
  width: 100vw;
  height: 100vh;
  background-image: url('img/bg-logo@2x.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;

  .text {
    position: absolute;
    top: 30%;
    left: 14%;

    h1 {
      font-size: 90px;
      line-height: 6.5rem;
    }

    p {
      font-size: 22px;
      padding-top: 16px;
      color: $Dgreen;
    }

    span {
      color: $green;
    }
  }

  img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 75%;
  }
}