* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  color: #141414;
  font-size: 18px;
  line-height: 1.8rem;
}

span {
  color: #78B19B;
  font-size: inherit;
}

h2 {
  font-size: 50px;
  color: #141414;
  padding-bottom: 80px;
}

.subtitle {
  font-size: 36px;
  color: #141414;
  padding-bottom: 30px;
}

.container {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}

.homepage-overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #78B19B;
  top: 0%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage-overlay img {
  width: 300px;
}

.homepage-overlay p {
  color: #1A383C;
  font-size: 60px;
  margin-top: 20px;
}

nav .nav-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #1A383C;
  overflow-x: hidden;
  transition: 0.5s;
}

nav .overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

nav .overlay-socials {
  position: relative;
  top: 40%;
  text-align: center;
}

nav .nav-overlay a {
  text-decoration: none;
  color: white;
}

nav .overlay-content a {
  padding: 20px;
  font-size: 36px;
  display: block;
  transition: 0.3s;
}

nav .overlay-socials a {
  padding: 0 20px;
  font-size: 36px;
  transition: 0.3s;
}

nav .overlay-socials a .fab {
  color: white;
  font-size: 32px;
}

nav .nav-overlay a:hover,
nav .nav-overlay a:focus {
  color: #78B19B;
}

nav .nav-overlay a:hover .fab,
nav .nav-overlay a:focus .fab {
  color: #78B19B;
}

nav .nav-overlay .closebtn {
  position: absolute;
  top: 35px;
  left: 50px;
  font-size: 45px;
}

nav .navbar-toggle {
  position: absolute;
  top: 35px;
  left: 50px;
  cursor: pointer;
}

nav .navbar-toggle .fa-bars {
  color: #78B19B;
  font-size: 32px;
}

.container-home {
  width: 100vw;
  height: 100vh;
  background-image: url("img/bg-logo@2x.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.container-home .text {
  position: absolute;
  top: 30%;
  left: 14%;
}

.container-home .text h1 {
  font-size: 90px;
  line-height: 6.5rem;
}

.container-home .text p {
  font-size: 22px;
  padding-top: 16px;
  color: #1A383C;
}

.container-home img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 75%;
}

.info-container .information {
  display: flex;
}

.info-container .info-text {
  max-width: 65%;
  padding-right: 40px;
}

.info-container .info-img img {
  width: 100%;
}

.skills {
  padding: 60px 0;
  background-color: #78B19B;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.skills .technical {
  width: 50%;
  text-align: right;
  padding: 60px 72px 60px 0;
  border-right: 2px solid white;
}

.skills .soft {
  padding-left: 70px;
}

.skills ul li {
  list-style-type: none;
  line-height: 3rem;
}

.skills .subtitle {
  color: white;
}

.facts-container {
  margin-bottom: 120px;
}

.facts-container ul {
  list-style: none;
}

.facts-container ul li {
  line-height: 3rem;
}

.facts-container ul li::before {
  content: "\25B8";
  color: #78B19B;
  display: inline-block;
  width: 1.2em;
}

.portfolio {
  background-color: #1A383C;
}

.portfolio-container h2 {
  color: white;
}

.cards-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cards-container .card {
  margin-bottom: 120px;
}

.cards-container .card img {
  width: 400px;
  height: 250px;
  object-fit: cover;
}

.cards-container .project-title {
  color: white;
  font-size: 26px;
  padding: 14px 0 16px 0;
}

.cards-container .tech-used ul {
  list-style: none;
}

.cards-container .tech-used ul li {
  color: white;
  font-size: 14px;
  display: inline-block;
  background-color: #78B19B;
  padding: 0 10px;
  margin-right: 16px;
  border-radius: 5px;
}

#triangle-bottomright {
  width: 100vw;
  height: 0;
  border-bottom: 300px solid #78B19B;
  border-left: 100vw solid transparent;
}

#rectangle {
  margin-bottom: 20px;
  width: 100vw;
  height: 10px;
  background: #78B19B;
}

.general-info {
  padding-bottom: 100px;
}

.general-info h2 {
  padding-bottom: 50px;
}

.general-info .category {
  padding-bottom: 20px;
  color: #1A383C;
  font-size: 22px;
}

.general-info .description {
  padding-bottom: 40px;
  padding-right: 100px;
}

.general-info .btn-Dgreen {
  background-color: #1A383C;
  border: none;
  color: white;
  padding: 10px 24px;
  border-radius: 10px;
  margin-right: 30px;
}

.about-project {
  margin: 100px 0;
}

.about-project p {
  padding-right: 100px;
}

.tech-sheet {
  padding-bottom: 100px;
}

.tech-sheet ul {
  list-style: none;
}

.tech-sheet ul li {
  line-height: 2.8rem;
}

.tech-sheet ul li::before {
  content: "\25B8";
  color: #78B19B;
  display: inline-block;
  width: 1.2em;
}

.subsubtitle {
  color: #78B19B;
  font-size: 28px;
  margin: 30px 0;
}

.image-container {
  max-width: 970px;
}

.image-container img {
  width: 100%;
}

.portfolio-navigation {
  background-color: #78B19B;
  width: 100vw;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.portfolio-navigation a {
  text-decoration: none;
  color: #1A383C;
  font-size: 20px;
}

.portfolio-navigation .fas {
  padding: 0 10px;
}

.container-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.contact {
  background-color: #78B19B;
}

.contact nav .navbar-toggle .fa-bars {
  color: white;
}

.contact-container h2 {
  color: #1A383C;
}

.contact-container h2 span {
  color: white;
}

.contact-info {
  width: 50%;
}

.contact-info p {
  padding-bottom: 60px;
}

.contact-info ul {
  list-style: none;
}

.contact-info ul li {
  padding: 10px 0;
}

.contact-info .fas, .contact-info .fab {
  padding-right: 26px;
}

.contact-info a {
  text-decoration: none;
}

.logo-container {
  text-align: center;
  width: 50%;
}

.logo-container img {
  width: 300px;
}

.logo-container .name {
  color: #1A383C;
  font-size: 60px;
  padding-top: 24px;
}
/*# sourceMappingURL=style.css.map */