@import 'fonts';
@import 'colors';
@import 'characterStyles';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontBody;
  font-weight: 400;
  color: $black;
  font-size: 18px;
  line-height: 1.8rem;
}

span {
  color: $green;
  font-size: inherit;
}

h2 {
  @include title;
}

.subtitle {
  @include subtitle;
}

.container {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}

.homepage-overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: $green;
  top: 0%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 300px;
  }

  p {
    color: $Dgreen;
    font-size: 60px;
    margin-top: 20px;
  }
}


// NAVIGATION
nav {
  .nav-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: $Dgreen;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
  }

  .overlay-socials {
    position: relative;
    top: 40%;
    text-align: center;
  }

  .nav-overlay a {
    text-decoration: none;
    color: white;
  }

  .overlay-content a {
    padding: 20px;
    font-size: 36px;
    display: block;
    transition: 0.3s;
  }

  .overlay-socials a {
    padding: 0 20px;
    font-size: 36px;
    transition: 0.3s;

    .fab {
      color: white;
      font-size: 32px;
    }
  }

  .nav-overlay a:hover,
  .nav-overlay a:focus {
    color: $green;

    .fab {
      color: $green;
    }
  }

  .nav-overlay .closebtn {
    position: absolute;
    top: 35px;
    left: 50px;
    font-size: 45px;
  }

  .navbar-toggle {
    position: absolute;
    top: 35px;
    left: 50px;
    cursor: pointer;

    .fa-bars {
      color: $green;
      font-size: 32px;
    }
  }
}

.container-home {
  width: 100vw;
  height: 100vh;
  background-image: url('img/bg-logo@2x.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;

  .text {
    position: absolute;
    top: 30%;
    left: 14%;

    h1 {
      font-size: 90px;
      line-height: 6.5rem;
    }

    p {
      font-size: 22px;
      padding-top: 16px;
      color: $Dgreen;
    }
  }

  img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 75%;
  }
}

.info-container {
  //padding-bottom: 120px;

  .information {
    display: flex;
  }

  .info-text {
    max-width: 65%;
    padding-right: 40px;
  }

  .info-img {
    img {
      width: 100%;
    }
  }
}

.skills {
  padding: 60px 0;
  background-color: $green;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .technical {
    width: 50%;
    text-align: right;
    padding: 60px 72px 60px 0;
    border-right: 2px solid white;
  }

  .soft {
    padding-left: 70px;
  }

  ul li {
    list-style-type: none;
    line-height: 3rem;
  }

  .subtitle {
    color: white;
  }
}

.facts-container {
  margin-bottom: 120px;

  ul {
    list-style: none;

    li {
      line-height: 3rem;
    }
  }
  
  ul li::before {
    content: "\25B8";
    color: $green;
    display: inline-block;
    width: 1.2em;
  }
}

//Portfolio
.portfolio {
  background-color: $Dgreen;
}
.portfolio-container {
  h2 {
    color:white;
  }
}

.cards-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .card {
    margin-bottom: 120px;
    img {
      width: 400px;
      height: 250px;
      object-fit: cover;
    }
  }

  .project-title {
    color: white;
    font-size: 26px;
    padding: 14px 0 16px 0;
  }

  .tech-used {
    ul {
      list-style: none;

      li {
        color: white;
        font-size: 14px;
        display: inline-block;
        background-color: $green;
        padding: 0 10px;
        margin-right: 16px;
        border-radius: 5px;
      }
    }
  }
}

#triangle-bottomright {
  width: 100vw;
  height: 0;
  border-bottom: 300px solid $green;
  border-left: 100vw solid transparent;
}

#rectangle {
  margin-bottom: 20px;
  width: 100vw;
  height: 10px;
  background: $green;
}

// Portfolio pages
.general-info {
  padding-bottom: 100px;

  h2 {
    padding-bottom: 50px;
  }

  .category {
    padding-bottom: 20px;
    color: $Dgreen;
    font-size: 22px;
  }

  .description {
    padding-bottom: 40px;
    padding-right: 100px;
  }

  .btn-Dgreen {
    background-color: $Dgreen;
    border: none;
    color: white;
    padding: 10px 24px;
    border-radius: 10px;
    margin-right: 30px;
  }
}

.about-project {
  margin: 100px 0;
  p {
    padding-right: 100px;
  }
}

.tech-sheet {
  padding-bottom: 100px;

  ul {
    list-style: none;

    li {
      line-height: 2.8rem;
    }
  }
  
  ul li::before {
    content: "\25B8";
    color: $green;
    display: inline-block;
    width: 1.2em;
  }
}

.subsubtitle {
  color: $green;
  font-size: 28px;
  margin: 30px 0;
}

.image-container {
  max-width: 970px;

  img {
    width: 100%;
  }
}

.portfolio-navigation {
  background-color: $green;
  width: 100vw;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  a {
    text-decoration: none;
    color: $Dgreen;
    font-size: 20px;
  }

  .fas {
    padding: 0 10px;
  }
}